
<!-- Topbar  -->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <!-- <mat-icon matSuffix>menu</mat-icon> -->
    </button>
    <span>{{ title }} + {{ currentUser?.name }}</span>
    <button mat-icon-button (click)="open(list)" class="end">
        
    </button>
    <button mat-icon-button (click)="open(list)" class="end">
            
        </button>
    <button mat-icon-button (click)="logoutModal(logoutContent)" class="end">
      <mat-icon matSuffix>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>



      <mat-tab-group>
          <mat-tab label="Nearby Shops"> 
            <br>
            <div class="container">
         <div class="row" *ngIf="data">
            <div class="col-md-4" *ngFor="let x of data">
              <div  *ngIf="x.liked == false">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{x?.title}}</mat-card-title>
                      <mat-card-subtitle>Shop</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://previews.123rf.com/images/vectorgalaxy/vectorgalaxy1809/vectorgalaxy180900011/108666644-restaurant-vector-icon-isolated-on-transparent-background-restaurant-logo-concept.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                       <b>Location </b> <br>
                       {{x.location.coordinates[0]}}
                    
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button (click)="likeShop(x._id)">LIKE</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
            </div>
          </div>
        </div>
          </mat-tab>

          <mat-tab label="Preferred Shops"> <br>
            <div class="container">
          <div class="row" *ngIf="data">
            <div class="col-md-4" *ngFor="let x of data">
              <div  *ngIf="x.liked == true">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{x?.title}}</mat-card-title>
                      <mat-card-subtitle>Shop</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://previews.123rf.com/images/vectorgalaxy/vectorgalaxy1809/vectorgalaxy180900011/108666644-restaurant-vector-icon-isolated-on-transparent-background-restaurant-logo-concept.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                       <b>Location </b> <br>
                      Latitude:         {{x.location.coordinates[0]}} <br>
                      Longitude: {{x.location.coordinates[1]}}

            
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>DISLIKE</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
            </div>
          </div>
        </div> </mat-tab>
          <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
        </mat-tab-group>

<!-- logout-content - start -->
<ng-template #logoutContent>
    Are you sure you want to Log out? <br />
    <br />
    <button mat-button mat-raised-button color="warn" (click)="logout()">
      LOGOUT
    </button>
    <button mat-button (click)="closeModal()">cancel</button>
  </ng-template>
  <!-- logout-content - start -->